<footer>
    <div class="container footer-flex">
        <div class="footer-column">
            <a href="index.html" class="logo logo-flex">
                <img src="assets/favicon_io/android-chrome-512x512.png" alt="Shuttle Master Logo" width="28" height="28" />
                <span>Shuttle Master</span>
            </a>
            <p class="footer-copyright">Copyright &copy; Shuttle Master</p>
            <div class="social-icons">
                <a href="https://youtube.com" target="_blank"><img src="assets/icons/youtube.png" alt="YouTube" class="social-icon"></a>
                <a href="https://instagram.com" target="_blank"><img src="assets/icons/instagram.png" alt="Instagram" class="social-icon"></a>
                <a href="https://wa.me/61403429308" target="_blank"><img src="assets/icons/whatsapp.png" alt="WhatsApp" class="social-icon"></a>
                <a href="https://discord.com" target="_blank"><img src="assets/icons/discord.png" alt="Discord" class="social-icon"></a>
            </div>
        </div>

        <div class="footer-column-narrow">
            <h3 class="footer-heading">Quick Links</h3>
            <p><a class="footer-link" href="index.html">Home</a></p>
            <p><a class="footer-link" href="shop.html">Shop</a></p>
            <p><a class="footer-link" href="articles.html">Articles</a></p>
        </div>

        <div class="footer-column-narrow">
            <h3 class="footer-heading">Company</h3>
            <p><a class="footer-link" href="about.html">About Us</a></p>
            <p><a class="footer-link" href="contact.html">Contact</a></p>
        </div>
    </div>
</footer>