<header>
    <nav class="container">
        <a href="index.html" class="logo logo-flex">
            <img src="assets/favicon_io/android-chrome-512x512.png" alt="Shuttle Master Logo" width="28" height="28" />
            <span>Shuttle Master</span>
        </a>
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="shop.html">Shop</a></li>
            <li><a href="articles.html">Articles</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><button id="cart-btn" class="cart-btn">🛒 <span id="cart-count" class="cart-count">0</span></button></li>
        </ul>
    </nav>
</header>